<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.acdcbridgecircuits">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bridge_circuits_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".DCBridgesCategory" />
        <activity android:name=".ACBridgesCategory" />
        <activity android:name=".DCBridgesDetail" />
        <activity android:name=".ACBridgesDetail" />
        <activity android:name=".MainActivity"/>

    </application>

</manifest>